
    <!-- Testimonial Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Flota</h6>
                <h1>Amplia Flota</h1>
            </div>
            <div class="owl-carousel testimonial-carousel">
                <div class="text-center pb-4">
                    <img class="img-fluid mx-auto" src="../static/img/flota.png" style="width: 100px; height: 100px;">
                    <div class="testimonial-text bg-white p-4 mt-n5">
                        <p class="mt-5"> Nuestra amplia flota garantiza adaptabilidad y calidad en cada servicio.
                            Descubre cómo nuestras opciones de transporte se ajustan a tus necesidades.
                        </p>
                    </div>
                </div>
                <div class="text-center">
                    <img class="img-fluid mx-auto" src="../static/img/asientos.png" style="width: 100px; height: 100px;">
                    <div class="testimonial-text bg-white p-4 mt-n5">
                        <p class="mt-5">Ya sea en trayectos cortos o largos, nuestros asientos ergonómicos y acolchados
                            garantizan una experiencia de viaje placentera. Experimenta el lujo de viajar con comodidad
                            en cada asiento de nuestra flota.
                        </p>
                    </div>
                </div>
                <div class="text-center">
                    <img class="img-fluid mx-auto" src="../static/img/compañeros.png" style="width: 100px; height: 100px;">
                    <div class="testimonial-text bg-white p-4 mt-n5">
                        <p class="mt-5">Nuestra dedicación a la seguridad, la eficiencia y la calidad del servicio nos
                            permite superar cualquier obstáculo en el camino.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
